<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand order-0 order-sm-0" [routerLink]="['']">
      <fa-icon class="fa-icon" [icon]="faChessQueen"></fa-icon>
      Lidia's Tools
    </a>

    <button
      class="navbar-toggler order-2 order-sm-1"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse order-3 order-sm-2">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="['/retriever']"
            (click)="isMenuCollapsed = true"
            >Retriever</a
          >
        </li>
      </ul>
    </div>

    <a href="https://bitcoin.org/bitcoin.pdf" target="_blank" class="social-link order-1 order-sm-3">
      <fa-icon class="fa-btc" [icon]="faBitcoinSign"></fa-icon>
    </a>
  </div>
</nav>
