.center-everything {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 15px;
}

.custom-container {
  padding: 20px;
  background-color: aliceblue;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
  min-height: 380px;
  // min-width: 350px;
  width: 100%;
}

.data-list {
  list-style: none;
  background-color: white;
  min-height: 180px;
  border-radius: 10px;
  max-height: 500px;
  overflow: scroll;
}

.input-group {
  &.main-column-input {
    width: 210px;
    position: relative;
    & .fa-check {
      position: absolute;
      right: 50px;
      top: 7px;
      z-index: 99;
    }
    & input {
      padding: 5px 21px 5px 12px;
    }
  }
  &.secondary-column-input {
    width: 200px;
    position: relative;
    & .cover {
      position: absolute;
      background-color: white;
      text-align: center;
      padding-top: 5px;
      font-weight: bold;
      left: 57px;
      top: 1px;
      width: 104px;
      height: 35px;
    }
  }
}

.input-group-text {
  max-width: 56px;
  white-space: break-spaces;
  font-size: 13px;
  line-height: 14px;
  padding: 4px 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-append {
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
