<div class="center-everything">
  <div class="custom-container">
    <div class="row">
      <div class="col-12 mb-4">
        <input type="file" (change)="readFile($event)" />
      </div>
      <div class="col-12">
        <div class="mb-2">
          <span class="me-5"><b>RESULTS</b></span>
          <button
            (click)="copyResults()"
            [disabled]="!requestedData.value.length"
            class="btn btn-primary"
          >
            COPY
          </button>
        </div>
        <div class="mb-3">
          <i> # of items: {{ requestedData.value.length || '-' }} </i>
        </div>
        <ul class="data-list">
          <li *ngFor="let item of requestedData$ | async">
            {{ item }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
